<html>
   <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
   <body>
   <form action="/Limit" method="POST" >
     Clusters :  <input type="text" name="clusters" placeholder="limit">

       Attr1:<input type="text" name="att1" placeholder="limit">
       Attr2:<input type="text" name="att2" placeholder="limit">
       poin1:<input type="text" name="poi1" placeholder="limit">
       poin2:<input type="text" name="poi2" placeholder="limit">

   	 <br>
   	 <br>
   	 Execute:  <button type="submit">Submit</button>
</form>
   <form action="/Limit2" method="POST" >
	Year:<input type="text" name="Year" placeholder="limit2">
    Range 1 :<input type="text" name="ra1" placeholder="limit2">
   	 <br>
   	 <br>
   	 Execute:  <button type="submit">Submit</button>
</form>
   </body>
</html>